page-confirmacao {
    .texto{
        font-size: 30px;
    }
    .titulo{
        font-size: 20px;
        
    }
    .card{
        margin-top: 50px;
        width: 280px;
        position: relative;
        left: 20px;
    }
    .icones{
        margin-top: 60px;
        text-align: center;
    }
    .icone{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }
    button{
        position: relative;
        left:270px;
    }
}
