page-criar-ideia {
    .imgDestaque {
        margin-left: 25%;
        margin-top: 15px;
        width: 75%;
    }

    .formBox {
       width: 70%;
       margin:0 auto;
    }
    
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
